.clock-hour{
  background-color: $bg0;
  background: rgba(255, 0, 0, 0.0);
  // box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  font-size: 50px;

  padding: 0px;
}

.clock-minutes{
  background-color: $bg0;
background: rgba(255, 0, 0, 0.0);
  // box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  font-size: 50px;


  padding-top: 100px;

}

