
$bg0: #282828;
$bg1: #3c3836;
$bg2: #504945;
$fg: #ebdbb2;
$fg2: #d5c4a1;
$red: #fb4934;
$green: #b8bb26;
$yellow: #fabd2f;
$blue: #83a598;
$purple: #d3869b;
$aqua: #8ec07c;
$orange: #fe8019;



.my_bar {
  background-color: $bg0;
  border: 2px solid $bg2;
  border-radius: 12px;
  padding: 4px 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
